
    <div>
        <label>First Name:</label>
        <input [formControl]="name" type="text">
    </div>

    <!--<h2>Hero Detail</h2>
    <h3><i>FormControl in a FormGroup</i></h3>
    <form [formGroup]="myForm" novalidate>
        <div class="form-group">
            <label class="center-block">Name:
                &lt;!&ndash;<input class="form-control" formControlName="name" required>&ndash;&gt;
                &lt;!&ndash;<input class="form-control" formControlName="name">&ndash;&gt;
            </label>
        </div>
    </form>-->

    <!--<p>Form value: {{ myForm.value | json }}</p>-->
    <!--<p>Form status: {{ myForm.status | json }}</p>-->
