
    <!--<div>-->
        <!--<label>First Name:</label>-->
        <!--<input [formControl]="name" type="text">-->
    <!--</div>-->

    <h2>Hero Detail</h2>
    <h3><i>FormControl in a FormGroup</i></h3>
    <form [formGroup]="myForm" novalidate>
        <div class="form-group">
            <p>Name value: {{ myForm.get('name').value }}</p>
            <label class="center-block">Name:
                <!--<input class="form-control" formControlName="name" required>-->
                <input class="form-control" formControlName="name">
            </label>

            <div formGroupName="address" class="well well-lg">
                <h4>Address</h4>
                <p>Name value: {{ myForm.get('address.street').value | json}}</p>
                <div class="form-group">
                    <label class="center-block">Street:
                        <input class="form-control" formControlName="street">
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">City:
                        <input class="form-control" formControlName="city">
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">Zip Code:
                        <input class="form-control" formControlName="zip">
                    </label>
                </div>
            </div>
        </div>

        <button (click)="reset()">Reset</button>
    </form>

    <p>Form value: {{ myForm.value | json }}</p>
    <p>Form status: {{ myForm.status | json }}</p>




