h1, h2, h3, h4, h5, h6 {
    background-color: rgb(245,185, 55);
}

td {
    background-color: rgb(167, 227, 253);
}

.labels {
    background-color: rgb(215, 215, 215);
}

.negative {
  color: red;
  background-color: yellow;
  font-weight: bold;
  text-align: right;
}

.positive {
  color: blue;
  background-color: rgb(127, 255, 0);
  font-weight: bold;
  text-align: right;
}